# Análise Exploratória de Dados
## Hugo Tremonte de Carvalho
## `hugo@dme.ufrj.br`

# Comandos extremamente básicos

Para rodar os comandos abaixo no R (ou R Studio), digite-os na linha de comendo e dê `Enter`. Para rodá-los aqui, selecione uma célula, digite o comando desejado e aperte `Ctrl + Enter` ou clique no botão de `Play` ao lado da célula.

O R funciona como uma grande calculadora:

In [ ]:
2 + 5

[1] 7

In [ ]:
10 - 7

[1] 3

In [ ]:
3 * 2.5 # O separador de decimal é . e não ,

In [ ]:
10/6

[1] 1.666667

In [ ]:
2^3

[1] 8

In [ ]:
2**3

[1] 8

Tipos de dados: `character`, `numeric`, `integer`, `complex`, e `logical`

Raras vezes iremos usar o tipo `integer`

1i denota a unidade complexa (tipo `complex`)

In [ ]:
class(2)

[1] "numeric"

In [ ]:
class(2L)

[1] "integer"

In [ ]:
class('a')

[1] "character"

In [ ]:
class(1i)

[1] "complex"

In [ ]:
class(TRUE)

[1] "logical"

Verificar igualdades ou desigualdades retorna um `logical`

In [ ]:
3==3

[1] TRUE

In [ ]:
4==3

[1] FALSE

In [ ]:
3!=2

[1] TRUE

In [ ]:
4!=4

[1] FALSE

In [ ]:
2<3

[1] TRUE

In [ ]:
2>2

[1] FALSE

In [ ]:
3<=4

[1] TRUE

In [ ]:
9>=9

[1] TRUE

Notacao cientifica, ou o padrao IEEE 754 para números de ponto flutuante

`5000000` é representado por `5e+06` -- leia-se "mantissa 5 (parte decimal de um logaritmo) e expoente +06"

Para saber mais sobre o padrao IEEE 754, veja https://www.youtube.com/watch?v=p8u_k2LIZyo&t=258s

De quebra, aprenda como que o Quake III foi revolucionário por conta de um algoritmo para calcular (aproximar, na verdade) $1/\sqrt{x}$ de modo bem rápido

In [ ]:
5000000

[1] 5e+06

O R conhece constantes importantes

In [ ]:
pi

[1] 3.141593

In [ ]:
e # Não funciona :-(

ERROR: ignored

In [ ]:
exp(1) # funciona

[1] 2.718282

Funções básicas já implementadas

In [ ]:
cos(10)

[1] -0.8390715

In [ ]:
log(1.5)

[1] 0.4054651

In [ ]:
abs(5-12)

[1] 7

In [ ]:
sqrt(25)

[1] 5

Porém, o `log` é em qual base? A função `cos` mede ângulos em graus ou radianos? Aparentemente `sqrt` calcula raiz quadrada, mas e para calcular outras raizes?

In [ ]:
?log # Por padrão é o logaritmo natural (ln)

In [ ]:
?sqrt

In [ ]:
?cos

In [ ]:
help(log) # Equivalente a ?log

Quer calcular uma exponencial mas não lembra qual é a função? Não tem problema!

In [ ]:
??exponential

In [ ]:
help.search("exponential")

Atribuir valores a variáveis. O nome da variável pode começar com letra, pode ter números, ponto e _underline_. Não pode ter vírgula, ponto-e-vírgula, traço e espaço. Operamos com variáveis da mesma forma que com números.

In [ ]:
x = 10

In [ ]:
x <- 10 # Equivalente a x = 10

In [ ]:
x**2

[1] 100

# Trabalhando com uma base de dados

Para fazer _upload_ de um arquivo para o Colab, clique no ícone com uma pasta ao lado esquerdo da tela, depois no ícone de um papel com uma seta para cima. Escolha o arquivo desejado e clique em `Abrir`.

In [ ]:
empresa <- read.table("empresa.csv", dec = ",", sep = ";", h = T)

In [ ]:
empresa

   EstadoCivil GrauInstrucao      Filhos Salario IdadeAnos IdadeMeses Regiao
1  solteiro    ensino fundamental NA      4.00   26         3         interior
2  casado      ensino fundamental  1      4.56   32        10         capital
3  casado      ensino fundamental  2      5.25   36         5         capital
4  solteiro    ensino medio       NA      5.73   20        10         outra
5  solteiro    ensino fundamental NA      6.26   40         7         outra
6  casado      ensino fundamental  0      6.66   28         0         interior
7  solteiro    ensino fundamental NA      6.86   41         0         interior
8  solteiro    ensino fundamental NA      7.39   43         4         capital
9  casado      ensino medio        1      7.59   34        10         capital
10 solteiro    ensino medio       NA      7.44   23         6         outra
11 casado      ensino medio        2      8.12   33         6         interior
12 solteiro    ensino fundamental NA      8.46   27        11         capital
13 solteiro    ensino medio       NA      8.74   37         5         outra
14 casado      ensino fundamental  3      8.95   44         2         outra
15 casado      ensino medio        0      9.13   30         5         interior
16 solteiro    ensino medio       NA      9.35   38         8         outra
17 casado      ensino medio        1      9.77   31         7         capital
18 casado      ensino fundamental  2      9.80   39         7         outra
19 solteiro    superior           NA     10.53   25         8         interior
20 solteiro    ensino medio       NA     10.76   37         4         interior
21 casado      ensino medio        1     11.06   30         9         outra
22 solteiro    ensino medio       NA     11.59   34         2         capital
23 solteiro    ensino fundamental NA     12.00   41         0         outra
24 casado      superior            0     12.79   26         1         outra
25 casado      ensino medio        2     13.23   32         5         interior
26 casado      ensino medio        2     13.60   35         0         outra
27 solteiro    ensino fundamental NA     13.85   46         7         outra
28 casado      ensino medio        0     14.69   29         8         interior
29 casado      ensino medio        5     14.71   40         6         interior
30 casado      ensino medio        2     15.99   35        10         capital
31 solteiro    superior           NA     16.22   31         5         outra
32 casado      ensino medio        1     16.61   36         4         interior
33 casado      superior            3     17.26   43         7         capital
34 solteiro    superior           NA     18.75   33         7         capital
35 casado      ensino medio        2     19.40   48        11         capital
36 casado      superior            3     23.30   42         2         interior

In [ ]:
head(empresa) # Mostra somente o comecinho da tabela

  EstadoCivil GrauInstrucao      Filhos Salario IdadeAnos IdadeMeses Regiao
1 solteiro    ensino fundamental NA     4.00    26         3         interior
2 casado      ensino fundamental  1     4.56    32        10         capital
3 casado      ensino fundamental  2     5.25    36         5         capital
4 solteiro    ensino medio       NA     5.73    20        10         outra
5 solteiro    ensino fundamental NA     6.26    40         7         outra
6 casado      ensino fundamental  0     6.66    28         0         interior

In [ ]:
names(empresa)

[1] "EstadoCivil"   "GrauInstrucao" "Filhos"        "Salario"
[5] "IdadeAnos"     "IdadeMeses"    "Regiao"

## Sumários em tabelas: distribuição de frequências

### Variáveis qualitativas

In [ ]:
tabela_ensino <- table(empresa$GrauInstrucao)

In [ ]:
tabela_ensino

ensino fundamental       ensino medio           superior
                12                 18                  6

In [ ]:
prop.table(tabela_ensino)

ensino fundamental       ensino medio           superior
         0.3333333          0.5000000          0.1666667

In [ ]:
100*prop.table(tabela_ensino)

ensino fundamental       ensino medio           superior
          33.33333           50.00000           16.66667

### Variáveis quantitativas

In [ ]:
tabela_salarios <- table(empresa$Salario)

In [ ]:
tabela_salarios # Só há uma observação com cada salário! Não faz sentido esse sumário...

    4  4.56  5.25  5.73  6.26  6.66  6.86  7.39  7.44  7.59  8.12  8.46  8.74
    1     1     1     1     1     1     1     1     1     1     1     1     1
 8.95  9.13  9.35  9.77   9.8 10.53 10.76 11.06 11.59    12 12.79 13.23  13.6
    1     1     1     1     1     1     1     1     1     1     1     1     1
13.85 14.69 14.71 15.99 16.22 16.61 17.26 18.75  19.4  23.3
    1     1     1     1     1     1     1     1     1     1

In [ ]:
cut(empresa$Salario, breaks = seq(4, 24, by = 4), right = FALSE)

 [1] [4,8)   [4,8)   [4,8)   [4,8)   [4,8)   [4,8)   [4,8)   [4,8)   [4,8)
[10] [4,8)   [8,12)  [8,12)  [8,12)  [8,12)  [8,12)  [8,12)  [8,12)  [8,12)
[19] [8,12)  [8,12)  [8,12)  [8,12)  [12,16) [12,16) [12,16) [12,16) [12,16)
[28] [12,16) [12,16) [12,16) [16,20) [16,20) [16,20) [16,20) [16,20) [20,24)
Levels: [4,8) [8,12) [12,16) [16,20) [20,24)

Vamos entender esse comando:

In [ ]:
summary(empresa)

 EstadoCivil        GrauInstrucao          Filhos        Salario
 Length:36          Length:36          Min.   :0.00   Min.   : 4.000
 Class :character   Class :character   1st Qu.:1.00   1st Qu.: 7.553
 Mode  :character   Mode  :character   Median :2.00   Median :10.165
                                       Mean   :1.65   Mean   :11.122
                                       3rd Qu.:2.00   3rd Qu.:14.060
                                       Max.   :5.00   Max.   :23.300
                                       NA's   :16
   IdadeAnos       IdadeMeses        Regiao
 Min.   :20.00   Min.   : 0.000   Length:36
 1st Qu.:30.00   1st Qu.: 3.750   Class :character
 Median :34.50   Median : 6.000   Mode  :character
 Mean   :34.58   Mean   : 5.611
 3rd Qu.:40.00   3rd Qu.: 8.000
 Max.   :48.00   Max.   :11.000

In [ ]:
summary(empresa$Salario)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.000   7.553  10.165  11.122  14.060  23.300

In [ ]:
seq(4, 24, by = 4)

[1]  4  8 12 16 20 24

In [ ]:
cut(empresa$Salario, breaks = seq(4, 24, by = 4), right = TRUE)

 [1] <NA>    (4,8]   (4,8]   (4,8]   (4,8]   (4,8]   (4,8]   (4,8]   (4,8]
[10] (4,8]   (8,12]  (8,12]  (8,12]  (8,12]  (8,12]  (8,12]  (8,12]  (8,12]
[19] (8,12]  (8,12]  (8,12]  (8,12]  (8,12]  (12,16] (12,16] (12,16] (12,16]
[28] (12,16] (12,16] (12,16] (16,20] (16,20] (16,20] (16,20] (16,20] (20,24]
Levels: (4,8] (8,12] (12,16] (16,20] (20,24]

In [ ]:
cut(empresa$Salario, breaks = seq(4, 24, by = 4), right = FALSE)

 [1] [4,8)   [4,8)   [4,8)   [4,8)   [4,8)   [4,8)   [4,8)   [4,8)   [4,8)
[10] [4,8)   [8,12)  [8,12)  [8,12)  [8,12)  [8,12)  [8,12)  [8,12)  [8,12)
[19] [8,12)  [8,12)  [8,12)  [8,12)  [12,16) [12,16) [12,16) [12,16) [12,16)
[28] [12,16) [12,16) [12,16) [16,20) [16,20) [16,20) [16,20) [16,20) [20,24)
Levels: [4,8) [8,12) [12,16) [16,20) [20,24)

Voltando ao problema

In [ ]:
tabela_salarios <- table(cut(empresa$Salario, breaks = seq(4, 24, by = 4), right = FALSE))

In [ ]:
tabela_salarios

  [4,8)  [8,12) [12,16) [16,20) [20,24)
     10      12       8       5       1

In [ ]:
prop.table(tabela_salarios)

     [4,8)     [8,12)    [12,16)    [16,20)    [20,24)
0.27777778 0.33333333 0.22222222 0.13888889 0.02777778

In [ ]:
100*prop.table(tabela_salarios)

    [4,8)    [8,12)   [12,16)   [16,20)   [20,24)
27.777778 33.333333 22.222222 13.888889  2.777778