# Análise Exploratória de Dados
## Hugo Tremonte de Carvalho
## `hugo@dme.ufrj.br`

https://stat.ethz.ch/R-manual/R-devel/library/stats/html/chisq.test.html

In [9]:
coop <- data.frame(consumidor = c(214, 51, 111),
                   produtor = c(237, 102, 304),
                   escola = c(78, 126, 139),
                   outras = c(119, 22, 48))

In [10]:
coop

  consumidor produtor escola outras
1 214        237       78    119
2  51        102      126     22
3 111        304      139     48

In [11]:
rownames(coop)

[1] "1" "2" "3"

In [12]:
rownames(coop) <- c('SP', 'PR', 'RS')

In [13]:
coop

   consumidor produtor escola outras
SP 214        237       78    119
PR  51        102      126     22
RS 111        304      139     48

In [14]:
chisq.test(coop)

	Pearson's Chi-squared test

data:  coop
X-squared = 173.38, df = 6, p-value < 2.2e-16

Com nossa base de dados

In [15]:
empresa <- read.table("empresa.csv", dec = ",", sep = ";", h = T)

In [17]:
head(empresa)

  EstadoCivil GrauInstrucao      Filhos Salario IdadeAnos IdadeMeses Regiao
1 solteiro    ensino fundamental NA     4.00    26         3         interior
2 casado      ensino fundamental  1     4.56    32        10         capital
3 casado      ensino fundamental  2     5.25    36         5         capital
4 solteiro    ensino medio       NA     5.73    20        10         outra
5 solteiro    ensino fundamental NA     6.26    40         7         outra
6 casado      ensino fundamental  0     6.66    28         0         interior

In [19]:
table(empresa$GrauInstrucao, empresa$Regiao)

                     capital interior outra
  ensino fundamental       4        3     5
  ensino medio             5        7     6
  superior                 2        2     2

In [20]:
chisq.test(table(empresa$GrauInstrucao, empresa$Regiao)) # Poucas observações!

Warning message in chisq.test(table(empresa$GrauInstrucao, empresa$Regiao)):
“Chi-squared approximation may be incorrect”

	Pearson's Chi-squared test

data:  table(empresa$GrauInstrucao, empresa$Regiao)
X-squared = 0.66142, df = 4, p-value = 0.956

In [21]:
table(empresa$EstadoCivil, empresa$GrauInstrucao)

           ensino fundamental ensino medio superior
  casado                    5           12        3
  solteiro                  7            6        3

In [23]:
chisq.test(table(empresa$EstadoCivil, empresa$GrauInstrucao)) # Poucas observações!

	Pearson's Chi-squared test with simulated p-value (based on 2000
	replicates)

data:  table(empresa$EstadoCivil, empresa$GrauInstrucao)
X-squared = 1.9125, df = NA, p-value = 0.3913